<%= form_with model: [ @article, @article.comments.build ] do |form| %>
 <!-- Commenter -->
  <div class="form-field">
    <div class="form-label">
      <%= form.label :commenter %>
    </div>
    <div class="form-input">
      <%= form.text_field :commenter %>
    </div>
  </div>
  <!-- Body -->
  <div class="form-field">
    <div class="form-label">
      <%= form.label :body %>
    </div>
    <div class="form-input">
      <%= form.text_area :body %>
    </div>
  </div>
  <!-- Status -->
  <div class="form-field">
    <div class="form-label">
      <%= form.label :status %>
    </div>
    <div class="form-input">
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
  </div>
  <%= form.submit %>
<% end %>